nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    margin-right: auto;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    padding: 10px 20px;
}
