nav {
    width: 95%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 10px 20px;
    color: aliceblue;
    margin-top: 2em;
}

nav a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px 20px;
    display: inline-block;
}

nav a:last-child{
    margin-left: 10px;
}