form {
    width: 400px;
    margin: 2em auto;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  label,
  input[type='text'],
  input[type='password'],
  input[type='email'] {
    display: block;
    margin: 20px 0;
    width: 100%;
    font-weight: 400;
  }
  
  label {
    font-size: 18px;
    color: #ddd;
  }
  
  input[type='text'],
  input[type='password'],
  input[type='email'] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  button[type='submit'] {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  